<skd-login-nav user="vm.user"></skd-login-nav>

<md-content flex class="layout-padding home-view">
    <div layout="row" layout-xs="column" flex>
        <div flex="100" flex-gt-xs="66">
            <md-input-container md-no-float class="md-block">
                <input type="text" placeholder="Enter a location" id="autocomplete">
            </md-input-container>
            <div hide-xs id="map"></div>
        </div>
        <div flex="100" flex-gt-xs="33">
            <div class="right-panel" layout-padding>
                <div class="itinerary">
                    <div ng-show="vm.places.length === 0" class="alert alert-success" id="itin-placeholder">
                        <h3>Add a place to start your itinerary!</h3>
                    </div>
                    <div class="list-group" ng-show="vm.places.length > 0" id="itinerary">
                        <a class="list-group-item list-group-item-action text-left" ng-repeat="place in vm.places"
                           id="{{place._id}}">
                            <i class="fa fa-bars sortable" aria-hidden="true"></i>
                            {{place.name}}
                            <div class="pull-right">
                                <i class="fa fa-info-circle" aria-hidden="true" ng-click="vm.viewPlace(place)"></i>
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.removePlace($index)"
                                   ng-if="vm.canEdit"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <md-button class="md-raised md-primary" ng-show="!vm.user && vm.places.length > 0"
                           ng-click="vm.toggleLogin()">
                    Sign Up or Login to Save
                </md-button>
                <md-button class="md-raised md-primary" ng-show="vm.user && vm.places.length > 0 && vm.canEdit"
                           ng-click="vm.saveItinerary()">Save
                </md-button>
                <md-button class="md-raised md-warn" ng-show="vm.user && vm.places.length > 0 && vm.canEdit"
                           ng-click="vm.resetToLastSave()" ng-disabled="!vm.dirty">Reset
                </md-button>
                <div>
                    FOLLOWING UPDATES WILL GO HERE
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" ng-repeat="suggestion in vm.suggestions">
            Test
        </div>
    </div>
</md-content>

<skd-bottom-nav></skd-bottom-nav>
