<div class="home-view">
    <div class="container-fluid">
        <h1>Plan Your Dream Vacation!</h1>
        <button type="button" class="btn btn-primary btn-block hidden-xs" id="login" ng-show="!vm.user" ng-click="vm.toggleLogin(true)">
            Login
        </button>
        <div class="row">
            <div class="hidden-xs col-sm-8">
                <input type="text" class="form-control" placeholder="Search..." id="autocomplete">
                <div id="map"></div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action text-left" ng-repeat="place in vm.places">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        {{place.name}}
                        <div class="pull-right">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <a class="btn btn-primary btn-block" ng-show="!vm.user && vm.places" ng-click="vm.toggleRegister()">
                    Sign Up to Save Itinerary
                </a>
                <a class="btn btn-success btn-block" ng-show="vm.user" ng-click="vm.saveItinerary()">Save</a>
                <a class="btn btn-danger btn-block" ng-show="vm.user" ng-click="vm.resetToLastSave()">Reset</a>
                <div>
                    FOLLOWING UPDATES WILL GO HERE
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="vm.toggleLogin()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="vm.toggleLogin()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="vm.login(user)">Login</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="vm.toggleRegister()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">Register</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                    <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.confirm">
                    Already have an account? <a class="login" ng-click="vm.toggleRegister();vm.toggleLogin()">Login</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="vm.toggleRegister()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="vm.register(user)">Register</button>
                </div>
            </div>
        </div>
    </div>

</div>
