<skd-login-nav user="vm.user"></skd-login-nav>

<md-content flex class="layout-padding home-view">
    <div layout="column" flex>
        <div layout="row" flex>
            <md-input-container md-no-float class="md-block" ng-show="vm.user && vm.user._id === vm.itinerary._user" flex>
                <input type="text" placeholder="Add a place" id="autocomplete-itin-details">
            </md-input-container>
        </div>
        <div layout="row" flex>
            <div hide-xs flex-gt-xs="66" id="map-itin-details"></div>
            <div class="right-panel" layout-padding flex-gt-xs="33" flex layout="column">
                <skd-sortable-itinerary places="vm.places" dirty="vm.dirty"></skd-sortable-itinerary>
                <md-button class="md-raised md-primary" ng-show="vm.user && vm.user._id === vm.itinerary._user" layout="row"
                           ng-click="vm.saveItinerary()" ng-disabled="!vm.dirty">
                    Save
                </md-button>
                <md-button class="md-raised md-warn" ng-show="vm.user && vm.user._id === vm.itinerary._user" layout="row"
                           ng-click="vm.resetToLastSave()" ng-disabled="!vm.dirty">Reset
                </md-button>
            </div>
        </div>
    </div>
</md-content>

<skd-bottom-nav></skd-bottom-nav>
