body {
    background-color: #e4e4e4;
}

.layout-padding {
    background-color: #e4e4e4;
}

.md-block {
    margin: 0 !important;
}

a {
    cursor: pointer;
}

#map {
    height: 400px;
}

.form-control {
    margin-bottom: 5px;
}

.btn:focus {
    outline: none;
}

.itinerary {
    height: 240px;
}

#itin-placeholder {
    height: 100%;
}

#itinerary {
    overflow-y: scroll;
}

.right-panel {
    height: 600px;
}

.fa {
    cursor: pointer;
}

.tab-content {
    padding-top: 10px;
}

.admin-icon {
    font-size: 24px;
}

.admin-view {
    margin-top: 10px;
}

.place-view {
    margin-bottom: 60px;
}

.home-view {
    margin-bottom: 60px;
}

#require-lg {
    margin-top: 40px;
    text-align: center;
}

.skd-sticky-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}