<md-toolbar class="skd-sticky-footer">
    <div class="md-toolbar-tools">
        <div flex layout="row">
            <md-button class="md-icon-button" flex="25" ng-click="goHome()" aria-label="home">
                <i class="fa fa-home nav-icon"></i>
            </md-button>
            <md-button class="md-icon-button" flex="25" ng-click="goItineraries()" aria-label="itineraries">
                <i class="fa fa-list-alt nav-icon"></i>
            </md-button>
            <md-button class="md-icon-button" flex="25" ng-click="goPlaces()" aria-label="places">
                <i class="fa fa-map-marker nav-icon"></i>
            </md-button>
            <md-button class="md-icon-button" flex="25" ng-click="goUsers()" aria-label="users">
                <i class="fa fa-users nav-icon"></i>
            </md-button>
        </div>
    </div>
</md-toolbar>