<md-dialog aria-label="place-edit">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Place</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="cancel">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <input ng-model="vm.place.name" type="text" placeholder="Name" disabled>
                </md-input-container>
                <h3 ng-show="vm.place.ads.length">Local Ads</h3>
                <md-list-item ng-repeat="ad in vm.place.ads">
                    <p>{{ad.ad}}</p>
                    <md-icon ng-click="vm.removeAd($index)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </md-icon>
                    <md-divider></md-divider>
                </md-list-item>
                <h3 ng-show="vm.place.reviews.length">User Reviews</h3>
                <md-list-item ng-repeat="review in vm.place.reviews">
                    <p>{{review.review}}</p>
                    <md-icon ng-click="vm.removeReview($index)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </md-icon>
                    <md-divider></md-divider>
                </md-list-item>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.editPlace()">
                Okay
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>