<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="page-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left skd-nav-icon"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pages</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="page-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left skd-nav-icon"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="page-list.view.client.html">
                    <span class="glyphicon glyphicon-ok skd-nav-icon"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">New Page</a>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs skd-left-panel">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Blog Post
                </a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Blogs
                </a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Home
                </a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    About
                </a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Contact Us
                </a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <label for="name">Name</label>
        <input class="form-control" id="name" placeholder="Page Name" type="text">

        <label for="title">Title</label>
        <input class="form-control" id="title" placeholder="Page Title" type="text">

        <a class="btn btn-primary btn-block" href="page-list.view.client.html">Create</a>

        <a class="btn btn-danger btn-block" href="page-list.view.client.html">Cancel</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user skd-nav-icon"></span>
            </a>
        </div>
    </div>
</nav>
