<md-dialog aria-label="itinerary-edit">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Itinerary</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="cancel">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <input ng-model="vm.itinerary.name" type="text" placeholder="Itinerary Name">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.editItinerary()">
                Okay
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>