<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-left skd-nav-icon" ng-click="vm.goBack()"></span>
        </div>
        <div class="navbar-text pull-right">
            <span class="glyphicon glyphicon-ok skd-nav-icon" ng-click="vm.updateWidget()"></span>
        </div>
        <div class="navbar-header navbar-brand">
            Edit Widget
        </div>
    </div>
</nav>

<div ng-switch="vm.widget.type" class="container-fluid">
    <div ng-show="vm.error" class="alert alert-danger" role="alert">
        {{vm.error}}
        <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.error = null"></span>
    </div>
    <div ng-switch-when="HEADER">
        <div ng-include src="'views/widget/templates/widget-heading.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include src="'views/widget/templates/widget-image.view.client.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-include src="'views/widget/templates/widget-html.view.client.html'"></div>
    </div>
    <div ng-switch-when="TEXT">
        <div ng-include src="'views/widget/templates/widget-text.view.client.html'"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <span class="glyphicon glyphicon-user skd-nav-icon" ng-click="vm.viewProfile()"></span>
        </div>
    </div>
</nav>
