<div class="container-fluid">
    <label for="name">Name</label>
    <input type="text" class="form-control" ng-model="vm.widget.name" id="name">

    <label for="html">HTML</label>
    <div ng-model="vm.widget.text" text-angular id="html"
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <a class="btn btn-danger btn-block" ng-click="vm.deleteWidget()">Delete</a>
</div>
