<div class="container-fluid">
    <label for="text">Text</label>
    <input ng-model="vm.widget.text" class="form-control" id="text" placeholder="Text"/>

    <label for="rows">Rows</label>
    <input ng-model="vm.widget.rows" class="form-control" type="number" id="rows" placeholder="Number of Rows"/>

    <label for="placeholder">Placeholder</label>
    <input ng-model="vm.widget.placeholder" class="form-control" id="placeholder" placeholder="Placeholder"/>

    <label for="formatted">Formatted</label>
    <input ng-model="vm.widget.formatted" type="checkbox" id="formatted"/>

    <a class="btn btn-danger btn-block" ng-click="vm.deleteWidget()">Delete</a>
</div>
