<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Widgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../views/page/page-list.html">
                <span class="glyphicon glyphicon-chevron-left skd-nav-icon"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-chooser.html">
                <span class="glyphicon glyphicon-plus skd-nav-icon"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widgets</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div>
        <div class="skd-floating-actions">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>Tom Brady</h1>
    </div>
    <div>
        <div class="skd-floating-actions">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Unquestionably the Greatest Quarterback of All Time</h3>
    </div>
    <div>
        <div class="skd-floating-actions">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img src="https://cbsboston.files.wordpress.com/2016/12/tb-12.jpg?w=628&h=353&crop=1" width="100%">
    </div>
    <div>
        <div class="skd-floating-actions">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>In 2015, a bunch of cowards lied to try and prove Brady guilty of a crime
            <a href="http://sportsworld.nbcsports.com/tom-brady-is-innocent/">he did not commit</a>.
            Do not let this unfair witch hunt, lacking any basis in fact, cloud your opinion of the greatest underdog
            story ever told.
        </p>
    </div>
    <div>
        <div class="skd-floating-actions">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Now He's Back to do the Only Thing He Knows How: Win</h3>
    </div>
    <div>
        <div class="skd-floating-actions">
            <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="560" src="https://www.youtube.com/embed/xe1ZBZyH4wM" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="../views/user/profile.html">
                <span class="glyphicon glyphicon-user skd-nav-icon"></span>
            </a>
        </div>
        <div class="pull-left navbar-text">
            <a href="#">
                <span class="glyphicon glyphicon-play skd-nav-icon"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-eye-open skd-nav-icon"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>