<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-left skd-nav-icon" ng-click="vm.back()"></span>
        </div>
        <div class="navbar-text pull-right">
            <span class="glyphicon glyphicon-ok skd-nav-icon" ng-click="vm.updateWidget()"></span>
        </div>
        <div class="navbar-header navbar-brand">
            Edit Widget
        </div>
    </div>
</nav>

<div ng-switch="vm.widget.widgetType">
    <div ng-switch-when="HEADER">
        <div ng-include src="'views/widget/widget-heading.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include src="'views/widget/widget-image.view.client.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include src="'views/widget/widget-youtube.view.client.html'"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right navbar-text">
            <a href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user skd-nav-icon"></span>
            </a>
        </div>
    </div>
</nav>
